@{
   Layout = null;
}
<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Index</title>
   <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body class="container">
   <div id="Index"></div>
   <script src="~/dist/Index.js"></script>
</body>
</html>